
<div class="container">
   <div class="d-flex justify-content-center h-100">
    <div class="card">
     <div class="card-header"> 
      <h1 align="center" class="display-4 mb-5">تسجيل الدخول</h1>
    </div>

<div style="width:40%; margin: 25px auto">

   
    <div class="card-body">
    <form  >
        <img src="../assets/87.png" alt="Avatar" class="avatar">
        <div class="input-group form-group">
           
            <label class="col-md-12 text-right" >معرف المستخدم </label>
            <input type="text" class="form-control form-control-lg col-md-12 text-right " id="email" name="email" placeholder="معرف المستخدم " autocomplete="email" >
           
        </div>

        <div class="input-group form-group">
            <label class="col-md-12 text-right" >كلمة العبور </label>
            <input type="password" class="form-control form-control-lg col-md-16 text-right" id="password" name="كلمة العبور"  autocomplete="password"
                   placeholder="كلمة العبور" >
           
        </div>

     <br>

        <div class="input-group form-group ">
            <button type="submit" class="btn btn-lg btn-primary btn-block">دخول</button>
        </div>
    
    </form>
</div>

  

</div>
</div>
</div>
</div>



